/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  } */
  

  .page-container{
    top: 190px;
    margin: 200px;
  }


  .home,
  .about-us,
  .registration,
  .alumnae
  .news
  .contact {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about-us {
    background-image: url('./assets/background_for_content.PNG');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
  }
  
  .registration {
    background-image: url('./assets/machinepro.png');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .alumnae {
    /*background-image: url('./assets/machinepro.png');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
    /*background-color: grey;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content:center;
    align-items: center;*/
  }

  .news {
    background-image: url('./assets/machinepro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .contact {
    background-image: url('./assets/machinepro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .ChampTable{
    table-layout: fixed;
    border: 1px solid black;
    width: 75%;
  }